@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
*, *::after, *::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background-color:#e6ccb2;
    font-family:"Montserrat",sans-serif;
}
.game{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}
.title{
    font-family:"Merriweather",sans-serif;
    margin:5px auto;
    opacity:0;
    animation: appear 1s 1s linear forwards;
}
.result{
    width:100%;
    height:10%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
    font-weight: 600;
}
.computer , .user{
    width:100%;
    display:flex;
    height:45%;
    gap:1rem;
    padding:10px;
    overflow:hidden;
    transition:all 3s ease;

}
.computer{
    animation:moveDown 2s ease;
}
.user{
    animation:moveUp 2s ease;
}

 .pick{
    width:calc(100% / 2.9);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    border:2px solid rgb(53, 52, 52);
    border-radius:7px;
    background-color:#457b9d;
    box-shadow:0 0 2px #111;
    transition:all .2s ease;
}

.user .pick{
    cursor:pointer;
}
.user .pick:hover{
    box-shadow: 0 0 10px #111;
}
@keyframes moveDown {
    from {
        transform:translateY(-100%);
    }
    to{
        transform:translateX(0%);
    }
}
@keyframes moveUp{
    from {
        transform:translateY(100%);
    }
    to{
        transform:translateX(0%);
    }
}
.pick i {
    font-size:140px;
    color:#fb8500;
    filter:drop-shadow(0 0 2px #111);
}

.highlight {
    background-color:#4a4e69;
}
.computer-score, .user-score{
    transition: all .3s ease;
}
.highlight-score{
    color: #fb8500;
}
.options{
    width:100%;
}
.reset{
    font-size:18px;
    padding:7px 10px;
    border:none;
    background-color:#1d3557;
    color:white;
    box-shadow:0 0 2px #111;
    border-radius:6px;
    cursor:pointer;
    opacity:0;
    font-weight: 600;
    transition:all .3s ease;
    animation: appear 1s 1s linear forwards;
    margin-bottom:5px;
    margin-left:10px;
}
.reset:hover{
    background-color: #a8dadc;
    color:#212529;
}
@keyframes appear {
    from {
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@media screen and (max-width:580px){
    .pick i {
        font-size:80px;
   
    }
}